:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-bar {
  position: relative;

  border-bottom: 1px solid var(--color-outline-variant);

  background: var(--color-surface);
}

.nav-bar__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 64px;
  max-width: var(--container-max);
  margin: 0 auto;

  padding: 0 var(--page-gutter);
}
