:host {
  display: block;
}

.footer {
  align-items: center;
  display: flex;

  height: calc(var(--space-unit) * 8);

  border-top: 1px solid var(--color-outline-variant);

  background: var(--color-surface-container-low);
}

.footer__inner {
  width: 100%;
  max-width: var(--container-max);
  margin: 0 auto;

  text-align: center;
}

.footer__copy {
  display: block;

  color: var(--color-secondary);
}
