<section class="form-panel" [attr.aria-labelledby]="titleId">
  <div class="form-panel__header">
    <h1 class="form-panel__title" [attr.id]="titleId">{{ title }}</h1>
    @if (description) {
      <p class="form-panel__text">{{ description }}</p>
    }
  </div>

  @if (error) {
    <p class="form-panel__error" role="alert">{{ error }}</p>
  }

  <form class="form-panel__body" (submit)="onSubmit($event)">
    <ng-content></ng-content>
  </form>

  <div class="form-panel__footer">
    <ng-content select="[synFormPanelFooter]"></ng-content>
  </div>
</section>
