@if (routerLink) {
  <a class="card" [ngClass]="cardClasses" [routerLink]="routerLink">
    <ng-container *ngTemplateOutlet="cardContent"></ng-container>
  </a>
} @else if (href) {
  <a class="card" [ngClass]="cardClasses" [href]="href">
    <ng-container *ngTemplateOutlet="cardContent"></ng-container>
  </a>
} @else {
  <article class="card" [ngClass]="cardClasses">
    <ng-container *ngTemplateOutlet="cardContent"></ng-container>
  </article>
}

<ng-template #cardContent>
  @if (label || icon) {
    <div class="card__bar">
      @if (label) {
        <span class="card__label">{{ label }}</span>
      }
      @if (icon) {
        <span class="card__icon material-symbols-outlined" aria-hidden="true">
          {{ icon }}
        </span>
      }
    </div>
  }
  @if (title) {
    <h3 class="card__title">{{ title }}</h3>
  }
  @if (description) {
    <p class="card__description">{{ description }}</p>
  }
  @if (tags.length) {
    <div class="card__tags" aria-label="Tags">
      @for (tag of tags; track tag) {
        <span class="card__tag">{{ tag }}</span>
      }
    </div>
  }
  <ng-content></ng-content>
  @if (actionLabel) {
    <span class="card__action">{{ actionLabel }}</span>
  }
</ng-template>
