:host {
  display: block;
}

.home {
  padding: 0 0 var(--space-lg);
}

.home__section {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.home__category-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.home__category {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.home__category-heading {
  align-items: flex-start;
  display: flex;
  gap: var(--space-sm);

  border-bottom: 1px solid var(--color-outline-variant);

  padding-bottom: var(--space-sm);

  h3 {
    font-size: 24px;
    line-height: 1.4;
  }

  p:last-child {
    max-width: 720px;

    color: var(--color-secondary);
  }
}

.home__topic-actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-unit);

  margin-top: auto;
}

@media (max-width: 719px) {
  .home__topic-actions {
    flex-direction: column;
  }
}
