:host {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - 64px);

  background: var(--color-surface);
  color: var(--color-on-surface);
}

.login-main {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;

  padding: var(--space-lg) var(--page-gutter);
}
