:host {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - 64px);

  background: var(--color-surface);
  color: var(--color-on-surface);
}

.page-shell__main {
  display: block;
  flex: 1;
}
